<div class="row-fluid px-2 mb-2">
    <a asp-controller="Profile" asp-action="UserInformation">
        Profile
    </a>
</div>

<div class="row-fluid px-2 mb-2">
    <a asp-controller="Profile" asp-action="UserOrders">
       Orders
    </a>
</div>


<div class="row-fluid px-2 mb-2">
    <a href="">
        Products <small>(as Seller)</small>
    </a>
</div>
