@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

<div class="row-fluid px-2 mb-2">
    <a asp-controller="Profile" asp-action="UserInformation">
        Profile
    </a>
</div>

<div class="row-fluid px-2 mb-2">
    <a asp-controller="Profile" asp-action="UserOrders">
        Orders
    </a>
</div>


@if (signInManager.IsSignedIn(User) && User.IsInRole("Seller"))
{
    <div class="row-fluid px-2 mb-2">
        <a asp-controller="Profile" asp-action="UserProducts">
            Products
        </a>
    </div>
}
