@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;

@inject SignInManager<ApplicationUser> signInManager
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShowCase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ShowCase</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Adminstration" asp-action="Create">Admin</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown" py-1>
                                <a id="navbarDropdown" class="nav-link dropdown-toggle " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                    <i class="fas fa-user fa-lg px-1 text-dark"></i>
                                    @User.Identity.Name
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                                    <a class="dorpdown-item nav-link" asp-area="" asp-controller="Profile" asp-action="Index">
                                        <i class="fas fa-file-alt px-1"></i>
                                        Profile
                                    </a>

                                    <a class="dorpdown-item nav-link" asp-area="" asp-controller="Invoice" asp-action="Index">
                                        <i class="fas fa-list px-1"></i>
                                        Invoices
                                    </a>

                                    <hr />

                                    <form method="post" asp-controller="account" asp-action="logout">
                                        <button type="submit" class="nav-link btn btn-link py-0">
                                            <i class="fas fa-sign-out-alt px-1"></i>
                                            Logout
                                        </button>
                                    </form>
                                </div>
                            </li>

                            <!--<a class="nav-link" asp-area="" asp-controller="Shopping" asp-action="Index">
                                <i class="fas fa-shopping-cart px-0" style="padding-left: 0; padding-right: 1.2rem;"></i>
                                <span id="itemsInShoppingCart" value="" class="test rounded-circle">
                                    @HttpContextAccessor.HttpContext.Session.GetString("CartCount")
                                </span>
                            </a>-->

                            <a class="nav-link" data-toggle="modal" data-target="#cart">
                                <i class="fas fa-shopping-cart px-0" style="padding-left: 0; padding-right: 1.2rem;"></i>
                                <span class="test rounded-circle total-count">
                                </span>
                            </a>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="register">Register</a>
                            </li>

                            <li class="nav-item nav-link">|</li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="show-cart table">
                    </table>
                    <div>Total price: <span class="total-cart"></span> SAR</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnOrderNow" onclick="OrderNow(this)" >Order now</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ShowCase - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/test.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
