@model ShowCase.ViewModel.Role.EditUserViewModel

<div class="container">

    <div class="row p-0 min-vh-100">
        <div class="col-2 p-2 mr-auto">
            <partial name="_DisplayProfileSidebarPartial">
        </div>

        <div class="col-10 p-2 ml-auto">
            <div class="container">

                <!-- Personal Information Information Row -->
                <div class="row bg-white shadow-sm mb-4">
                    <div class="col-12 px-4 pb-1">

                        <div class="row p-2 mb-2">
                            <div class="h4 text-primary text-left">
                                My Information
                            </div>
                        </div>

                        <form>
                            <input asp-for="User.Id" hidden />

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label asp-for="User.FirstName"></label>
                                    <input asp-for="User.FirstName" class="form-control" />
                                    <span asp-validation-for="User.FirstName" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label asp-for="User.LastName"></label>
                                    <input asp-for="User.LastName" class="form-control" />
                                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label asp-for="User.UserName"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">&#64;</span>
                                        </div>
                                        <input asp-for="User.UserName" disabled class="form-control" />
                                    </div>
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a asp-action="UsersList">Cancel</a>
                                </div>
                                <a href="#" class="ml-auto mr-3 text-warning font-weight-bold">Change Password</a>
                            </div>

                        </form>

                    </div>
                </div>

                <!-- Address Information Row -->
                <div class="row bg-white shadow-sm mb-4">
                    <div class="col-12 px-4 pb-1">

                        <div class="row p-2 mb-2">
                            <div class="h4 text-primary text-left">
                                Address Information
                            </div>
                        </div>

                        <form>
                            <input asp-for="User.Id" hidden />

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label asp-for="User.FirstName"></label>
                                    <input asp-for="User.FirstName" class="form-control" />
                                    <span asp-validation-for="User.FirstName" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label asp-for="User.LastName"></label>
                                    <input asp-for="User.LastName" class="form-control" />
                                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label asp-for="User.UserName"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">&#64;</span>
                                        </div>
                                        <input asp-for="User.UserName" disabled class="form-control" />
                                    </div>
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a asp-action="UsersList">Cancel</a>
                                </div>
                                <a href="#" class="ml-auto mr-3 text-warning font-weight-bold">Change Password</a>
                            </div>

                        </form>


                    </div>
                </div>

                <!-- Payment Information Row -->
                <div class="row bg-white shadow-sm mb-4">
                    <div class="col-12 px-4 pb-1">

                        <div class="row p-2 mb-2">
                            <div class="h4 text-primary text-left">
                                Payment Information
                            </div>
                        </div>

                        <form>
                            <input asp-for="User.Id" hidden />

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label asp-for="User.FirstName"></label>
                                    <input asp-for="User.FirstName" class="form-control" />
                                    <span asp-validation-for="User.FirstName" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label asp-for="User.LastName"></label>
                                    <input asp-for="User.LastName" class="form-control" />
                                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label asp-for="User.UserName"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">&#64;</span>
                                        </div>
                                        <input asp-for="User.UserName" disabled class="form-control" />
                                    </div>
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a asp-action="UsersList">Cancel</a>
                                </div>
                                <a href="#" class="ml-auto mr-3 text-warning font-weight-bold">Change Password</a>
                            </div>

                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>