/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 150px;
    background-color: #fafafa !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* My Custome styles
-------------------------------------------------- */
.my-sidebar {
    min-height: 100vh;
    width: 20%;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    padding-top: 100px;
    padding-left: 210px;
}

.my-sidebar a {
    color: #0a267c !important;
}

.bg-my-background {
    background-color: #15a9ce;
    background-image: linear-gradient(-90deg, #1588a5 10%, #0a267c 100%);
    background-size: cover;
}

.my-container {
    padding-top: 15px;
    padding-left: 21%;
}

nav .navbar-brand {
    color: gold !important;
    font-size: 1.5rem;
}

nav .navbar-nav .nav-link{
    color: white !important;
}

nav .dropdown-menu .nav-link {
    color: black !important;
}

nav a {
    /*font-size: 1.2rem;*/
}

.navbar-nav i {
    color: #ffc107;
}

footer .container {
    color: white !important;
}
footer .container a{
    color: gold !important;
}

.clickable-row {
    cursor: pointer;
}

.relative-position-container{
    position: relative;
}

.order-status-position{
    position:absolute;
    top: -15px;
    right: 1%;
}


@media (min-width: 1700px) {
    .my-container {
        max-width: 1680px;
    }

    .my-sidebar {
        padding-left: 210px;
    }

    .container {
        max-width: 1500px;
    }
}
