@model ShowCase.ViewModel.Order.OrderDetailsViewModel


<div class="container">
    <div class="row d-flex align-items-center my-2">
        <a class="mr-auto" asp-action="Index">
            <i class="fas fa-long-arrow-alt-left fa-3x">
            </i>
        </a>

        <p class="h4 mr-auto">Order Details</p>
    </div>


    <div class="card bg-white shadow p-4">
        <div class="title h4 text-warning">Purchase Reciept</div>
        <hr class="mb-4" />

        <div class="row my-2">
            <div class="col-6">
                <span class="text-secondary">Date</span>
                <br>
                <span>10 October 2018</span>
            </div>

            <div class="col-6">
                <span class="text-secondary">Order No.</span>
                <br>
                <span>012j1gvs356c</span>
            </div>
        </div>

        <div class="pricing">
            <div class="row my-2">
                <div class="col-9"> <span id="name">BEATS Solo 3 Wireless Headphones</span> </div>
                <div class="col-3"> <span id="price">£299.99</span> </div>
            </div>

        </div>
        <div class="total">
            <div class="row">
                <div class="col-9"></div>
                <div class="col-3"><big>£262.99</big></div>
            </div>
        </div>

        @foreach (var product in Model.Products)
        {
            <div class="row my-2">
                <div class="col-9">
                    <span>@product.Name | @product.Description | 2 Qty</span>
                </div>
                <div class="col-3">
                    100.00 SAR
                </div>
            </div>
        }

        <hr class="mt-4" />
        <div class="row">
            <div class="col-9"> <span id="name">Shipping</span> </div>
            <div class="col-3"> <span id="price">£33.00</span> </div>
        </div>

        <div class="row">
            <div class="col-9"> <span class="text-secondary" id="name">Total</span> </div>
            <div class="col-3"> <span class="text-warning" id="price">1500 SAR</span> </div>
        </div>

    </div>

</div>


