@model ShowCase.ViewModel.Account.Login
@{
    ViewBag.Title = "Login";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12">
            <div class="card border-0 shadow">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>

                                <form method="post" class="form-user">
                                    <div class="form-group">
                                        <input asp-for="Email" placeholder="Email/Username" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>


                                    <div class="form-group">
                                        <input asp-for="Password" placeholder="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-check">
                                            <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                                            <label asp-for="RememberMe" class="form-check-label"></label>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                </form>

                                <hr />
                                <a href="index.html" class="btn btn-google btn-user btn-google btn-block">
                                    <i class="fab fa-google fa-fw"></i> Login with Google
                                </a>

                                <a href="index.html" class="btn btn-facebook btn-user btn-facebook btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                </a>

                                <hr />

                                <div class="row d-flex">
                                    <a class="small mr-auto" href="forgot-password.html">Forgot Password?</a>
                                    <a class="small ml-auto" href="register.html">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}