@model ShowCase.ViewModel.Account.Registeration
@{
    ViewData["Title"] = "Register";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
            <div class="card border-0 shadow">

                <div class="card-header border-0">
                    <i class="fas fa-user-edit fa-2x"></i>
                    Register
                </div>

                <div class="card-body">
                    <form method="post">

                        <div class="form-group row">
                            <label asp-for="FirstName" class="col-md-4 col-form-label d-flex justify-content-end"></label>
                            <div class="col-md-6">
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="LastName" class="col-md-4 col-form-label d-flex justify-content-end"></label>
                            <div class="col-md-6">
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Email" class="col-md-4 col-form-label d-flex justify-content-end"></label>
                            <div class="col-md-6">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Password" class="col-md-4 col-form-label d-flex justify-content-end"></label>
                            <div class="col-md-6">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label asp-for="ConfirmPassword" class="col-md-4 col-form-label d-flex justify-content-end"></label>
                            <div class="col-md-6">
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary btn-block">Register</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}