<div class="text-center">
    <h1 class="text-danger">Access denied</h1>
    <h6 class="text-danger">You dont have permission to view this source</h6>
    <i class="fas fa-hand-paper fa-10x text-danger"></i>
</div>