@using Microsoft.AspNetCore.Identity;
@model IEnumerable<ApplicationUser>


<a class="btn btn-primary" asp-controller="Adminstration" asp-action="CreateUser">
    Create New User
</a>
<div class="container mt-2">


    @if (Model.Any())
    {
        @foreach (var user in Model)
        {
            <div class="row bg-white border border-left-0 border-right-0 border-warning my-3 p-4 shadow-sm">
                <div class="mr-auto">
                    <p class="m-0">
                        <strong class="text-secondary">Name: </strong> @user.UserName
                    </p>
                    <p class="m-0">
                        <strong class="text-secondary">ID: </strong> @user.Id
                    </p>
                </div>
                <div class="ml-auto">
                    <div class="row">
                        <a class="btn btn-warning mr-auto" asp-controller="Adminstration" asp-action="EditUser" asp-route-Id="@user.Id">
                            <i class="fas fa-pencil-alt text-white"></i>
                        </a>
                        <form method="post" asp-action="DeleteUser" asp-route-Id="@user.Id">
                            <button class="btn btn-danger mx-2" type="submit">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p class="h3">UserList is Empty</p>
    }
</div>
