@model ShowCase.ViewModel.Product.DeleteProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Edit Product</h1>

<h4>EditProductViewModel</h4>
<hr />

<div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
        <div class="card-body shadow-lg">
            <form asp-action="Delete">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Confirm Delete" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Back to Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
